
html{
    background-color: #011F3F;
    font-family: 'Press Start 2P';
}
#landing-text{
    text-align: center;
    margin-top: 30px;
}
h1{
    font-size: 40px;
    color: antiquewhite;
}
h2{
    font-size: 20px;
    color: antiquewhite;
}
#text-box{
    height: 300px;
    background-color: rgb(196, 193, 193);
    margin-left: 15%;
    width: 70%;
    border-radius: 50px;
}
#word-count{
    margin-left: 55%;
    color: red;
}
#baconButton{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
    background-color: green;
    height: 75px;
    width: 20%;
    margin-left: 40%;
    border: 10px solid black;
    font-size: 20px;
    color: black;
    font-family: 'Press Start 2P';
}
#baconButtonDuring{
    background-color: rgb(236, 159, 159);
}
#baconButtonGo{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
    background-color: red;
    height: 50px;
    width: 20%;
    margin-left: 40%;
    border: 10px solid antiquewhite;
}
#bacon-text{
    color: white;
    height: 250px;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
#text{
    width: 80%;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    height: 90%;
    margin-left: 10%;
    padding: 5px;
    font-size: 20px;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.congrats{
    background-color: green;
    opacity: 0.8;
}
.correct-letter{
    color: white;
}
#incorrect{
    color: red;
}
.correct{
    color: green;
}
.finalmessage{
    font-family: 'Press Start 2P';
    color: black;
    font-size: 22px;
}